<div class="auth-container">
  <h2>Login</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>

      <input
        matInput
        type="email"
        formControlName="email">

      @if (
        loginForm.get('email')?.touched &&
        loginForm.get('email')?.hasError('required')
      ) {
        <mat-error>
          Email is required
        </mat-error>
      }

      @if (
        loginForm.get('email')?.touched &&
        loginForm.get('email')?.hasError('email')
      ) {
        <mat-error>
          Please enter a valid email address
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>

      <input
        matInput
        type="password"
        formControlName="password">

      @if (
        loginForm.get('password')?.touched &&
        loginForm.get('password')?.hasError('required')
      ) {
        <mat-error>
          Password is required
        </mat-error>
      }

      @if (
        loginForm.get('password')?.touched &&
        loginForm.get('password')?.hasError('minlength')
      ) {
        <mat-error>
          Password must be at least 6 characters
        </mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      type="submit"
      [class.primary-button]="loginForm.valid"
      [disabled]="loginForm.invalid">

      Login

    </button>

  </form>
</div>